<p>about works!</p>
<div>
  William Cheong is a Software Architect based in Cyberjaya, Malaysia.
  He has experience build a connected enterprise system with web technologies, mobile application and video games.

  He specializes in various technologies ranging from front-end to back-end and media creation technologies.
  He often share with fellow team members on techniques and strategy of implementation. He advocates Developer Experience (DX) in workplace, and emphasize Automation (Jidoka) and constant enhancement (Kaizen).

  As a philanthrophist, he contributes in toastmasters community, and offering IT consultations to fellow friends and people in need.
  He enjoys learning new technologies, humorous conversation, tinkering with internet of things (iot) and can be found chattering news & tech on twitter, and travelling around the world.

</div>
